openapi: 3.0.4
info:
  title: Random Word
  description: >-
    Random Word is a simple tool for getting random words. It returns a random
    word.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/randomwords:
    get:
      summary: Get Random Word
      description: Get a random word, including its definition and pronunciation
      operationId: randomwords
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  word: persevering
                  definitions:
                    - >-
                      Characterized by perseverance; persistent. --
                      Per`se*ver"ing*ly, adv.
                  pronunciation: P ER0 S AH0 V IH1 R IH0 NG
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
